.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  cursor: pointer;
  border: #999 1px solid;
}

button:hover {
  color: aquamarine;
  border: aquamarine 1px solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.App-section {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.attributes-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 300px;
  margin: 0 auto;
}

.attribute-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.attribute-item p {
  display: inline-block;
  text-align: left;
}

.attribute-item p:first-child {
  min-width: 100px;
}

.class-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.class-list-container button {
  min-width: 100px;
}

.class-list-container button.highlight {
  color: deeppink;
  font-weight: bold;
}

.class-details-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  justify-items: center;
}

.class-details-list p {
  display: flex;
  text-align: left;
}

.class-details-list p span:first-child {
  min-width: 120px;
}